.footer_container{
  display: flex;
  background-color: #F2EAEA;
  margin-top: 30px;
}
.logo{
  margin: auto;
}
.footer{
  margin: auto;
}
.icon{
  display: flex;
  margin: auto;
}
.icon h3{
  padding: 8px;
}
.logo{
    font-family: cursive;
    border-bottom: 1px solid darkred;
    border-left: 1px solid darkred;
    color: darkgoldenrod;
    border-radius: 6px;
    padding: 3px;
}
h1 {
  font-size: 1.5rem;
}
@media only screen and (max-width:600px){
  h1{
  font-size: 1rem;
}
.footer_container{
  display: grid;
  grid-template-columns: 1fr;
  padding-top :10px;
}
  }
