.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url('../assets/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.form{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #F6FBF9;
  border: none;
  border-radius: 15px;

}
input{
  border: 1px solid rgb(21, 21, 21,0.2);
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

button{
   background-color: #c6e1d6;
   border-radius: 5px;
   font-size: 15px;
}